body , :root
{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.container
{
    display: flex;
    flex-direction: column;
}

.content
{
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.sidebar-1
{
    width: 20%;
    background-color: #999;
    height: 100vh;
}

.sidebar-2
{
    width: 20%;
    background-color: #999;
    height: 100vh;
}

.columns
{
    display: flex;
    justify-content: flex-end;
}
.art
{
    width: 100%;
    background-color: #ccc;
}

header, footer {
    background-color: #666;
    height: 50px;
}